<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> | 
            <a href="/about">Hi, I'm Itchy Witchy</a> | 
            <a href="/projects">Projects</a> | 
            <a href="/contact">Contact</a>
        </nav>
        <h1>Welcome to the Grimoire</h1>
        <p>Learn more about who I am and what I do.</p>
    </header>
    <section>
        <h2>My Journey</h2>
        <p>I write code on versatile things, anything and everything I think needs some spice. Everything is a plea for Pinterest and Amex (whoever will have me)</p>
    </section>
    
    <section>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>C++</li>
            <li>Java</li>
            <li>Databases</li>
            <li>Web Development</li>
            <li>Problem Solving</li>
            <li>Mathematics and Stats</li>
        </ul>
    </section>
    
    <section class="languages">
        <h2>Languages I speak</h2>
        <div id="globe-container" style="width: 100%; height: 500px;"></div>
            <div class="globe">
                <span class="lang" style="--angle: 0deg;">English</span>
                <span class="lang" style="--angle: 72deg;">Hindi</span>
                <span class="lang" style="--angle: 144deg;">Punjabi</span>
                <span class="lang" style="--angle: 216deg;">German</span>
            </div>
        </div>        
    </section>
</header>
</body>
</html>
