<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale="1.0>
        <title> HOME | The Witch Verdict </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href"../static/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">HOME</a> |
                <a href='/about'> About the Witch</a>
            </nav>  
            <h1> Hi, I'm Richa and this is who I am and what I have done!</h1>
            <p> Sometimes, I want to escape the confines of my body and become the wind itself. But since I can't, I'm settling for creating amazing things, things to redefine the constructs of science and lifestyle as we know it. </p>  
        </header>

        <!-- Flower Cluster -->
    <div class="flower-container">
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
    </div>
    </body>
    </html>            