<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale="1.0>
        <title> HOME </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>        
       
    <div class="flower-container">
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
        <div class="flower-petal"></div>
    </div>

    <div class="content">
        <div class="text-section">
          <h1>Hi, I'm Richa</h1>
          <p class="intro-text">and this is who I am and what I have done</p>
          <p class="quote">"Sometimes, I want to escape the confines of my body and become the wind itself. But since I can't, I'm settling for creating amazing things, things to redefine the constructs of science and lifestyle as we know it."</p>
        </div>
    
        <div class="manuscript-container">
          <a href="/blog">
            <img src="grimoire-image.jpg" alt="The Grimoire" class="manuscript-image">
          </a>
        </div>
      </div>
    </body>
    <footer>
        <h3>Connect with Me</h3>
        <url>
            <a href="www.linkedin.com/in/richa-sharma-15141228b" target="_blank">LinkedIn</a>
            <a href="https://thewitchverdict.medium.com/" target="_blank">Medium</a>
            <a href="https://instagram.com/your-profile" target="_blank">Instagram</a>
            <a href="https://pin.it/5gsIH9uGB" target="_blank">Pinterest</a>
        </url>    
    </footer>
</html>                